data/pubmed_190101.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
    <define name="text">
        <choice>
            <text/>
            <ref name="b"/>
            <ref name="i"/>
            <ref name="sup"/>
            <ref name="sub"/>
            <ref name="u"/>
        </choice>
    </define>
    <define name="booklinkatts">
        <optional>
            <attribute name="book"/>
        </optional>
        <optional>
            <attribute name="part"/>
        </optional>
        <optional>
            <attribute name="sec"/>
        </optional>
    </define>
    <!-- ================================================================= -->
    <!-- ================================================================= -->
    <!--   ================= Set-level elements ============================ -->
    <define name="PubmedArticleSet">
        <element name="PubmedArticleSet">
            <ref name="attlist.PubmedArticleSet"/>
            <oneOrMore>
                <choice>
                    <ref name="PubmedArticle"/>
                    <ref name="PubmedBookArticle"/>
                </choice>
            </oneOrMore>
            <optional>
                <ref name="DeleteCitation"/>
            </optional>
        </element>
    </define>
    <define name="attlist.PubmedArticleSet" combine="interleave">
        <empty/>
    </define>
    <define name="BookDocumentSet">
        <element name="BookDocumentSet">
            <ref name="attlist.BookDocumentSet"/>
            <zeroOrMore>
                <ref name="BookDocument"/>
            </zeroOrMore>
            <optional>
                <ref name="DeleteDocument"/>
            </optional>
        </element>
    </define>
    <define name="attlist.BookDocumentSet" combine="interleave">
        <empty/>
    </define>
    <define name="PubmedBookArticleSet">
        <element name="PubmedBookArticleSet">
            <ref name="attlist.PubmedBookArticleSet"/>
            <zeroOrMore>
                <ref name="PubmedBookArticle"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.PubmedBookArticleSet" combine="interleave">
        <empty/>
    </define>
    <!--   ============= Document-level elements ============================ -->
    <define name="PubmedArticle">
        <element name="PubmedArticle">
            <ref name="attlist.PubmedArticle"/>
            <ref name="MedlineCitation"/>
            <optional>
                <ref name="PubmedData"/>
            </optional>
        </element>
    </define>
    <define name="attlist.PubmedArticle" combine="interleave">
        <empty/>
    </define>
    <define name="PubmedBookArticle">
        <element name="PubmedBookArticle">
            <ref name="attlist.PubmedBookArticle"/>
            <ref name="BookDocument"/>
            <optional>
                <ref name="PubmedBookData"/>
            </optional>
        </element>
    </define>
    <define name="attlist.PubmedBookArticle" combine="interleave">
        <empty/>
    </define>
    <define name="BookDocument">
        <element name="BookDocument">
            <ref name="attlist.BookDocument"/>
            <ref name="PMID"/>
            <ref name="ArticleIdList"/>
            <ref name="Book"/>
            <zeroOrMore>
                <ref name="LocationLabel"/>
            </zeroOrMore>
            <optional>
                <ref name="ArticleTitle"/>
            </optional>
            <optional>
                <ref name="VernacularTitle"/>
            </optional>
            <optional>
                <ref name="Pagination"/>
            </optional>
            <zeroOrMore>
                <ref name="Language"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="AuthorList"/>
            </zeroOrMore>
            <optional>
                <ref name="InvestigatorList"/>
            </optional>
            <zeroOrMore>
                <ref name="PublicationType"/>
            </zeroOrMore>
            <optional>
                <ref name="Abstract"/>
            </optional>
            <optional>
                <ref name="Sections"/>
            </optional>
            <zeroOrMore>
                <ref name="KeywordList"/>
            </zeroOrMore>
            <optional>
                <ref name="ContributionDate"/>
            </optional>
            <optional>
                <ref name="DateRevised"/>
            </optional>
            <optional>
                <ref name="GrantList"/>
            </optional>
            <zeroOrMore>
                <ref name="ItemList"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="ReferenceList"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.BookDocument" combine="interleave">
        <empty/>
    </define>
    <define name="DeleteCitation">
        <element name="DeleteCitation">
            <ref name="attlist.DeleteCitation"/>
            <oneOrMore>
                <ref name="PMID"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.DeleteCitation" combine="interleave">
        <empty/>
    </define>
    <define name="DeleteDocument">
        <element name="DeleteDocument">
            <ref name="attlist.DeleteDocument"/>
            <zeroOrMore>
                <ref name="PMID"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.DeleteDocument" combine="interleave">
        <empty/>
    </define>
    <!--   =============== Sub-Document wrapper elements ===================== -->
    <define name="MedlineCitation">
        <element name="MedlineCitation">
            <ref name="attlist.MedlineCitation"/>
            <ref name="PMID"/>
            <optional>
                <ref name="DateCompleted"/>
            </optional>
            <optional>
                <ref name="DateRevised"/>
            </optional>
            <ref name="Article"/>
            <ref name="MedlineJournalInfo"/>
            <optional>
                <ref name="ChemicalList"/>
            </optional>
            <optional>
                <ref name="SupplMeshList"/>
            </optional>
            <zeroOrMore>
                <ref name="CitationSubset"/>
            </zeroOrMore>
            <optional>
                <ref name="CommentsCorrectionsList"/>
            </optional>
            <optional>
                <ref name="GeneSymbolList"/>
            </optional>
            <optional>
                <ref name="MeshHeadingList"/>
            </optional>
            <optional>
                <ref name="NumberOfReferences"/>
            </optional>
            <optional>
                <ref name="PersonalNameSubjectList"/>
            </optional>
            <zeroOrMore>
                <ref name="OtherID"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="OtherAbstract"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="KeywordList"/>
            </zeroOrMore>
            <optional>
                <ref name="CoiStatement"/>
            </optional>
            <zeroOrMore>
                <ref name="SpaceFlightMission"/>
            </zeroOrMore>
            <optional>
                <ref name="InvestigatorList"/>
            </optional>
            <zeroOrMore>
                <ref name="GeneralNote"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.MedlineCitation" combine="interleave">
        <optional>
            <attribute name="Owner" a:defaultValue="NLM">
                <choice>
                    <value>NLM</value>
                    <value>NASA</value>
                    <value>PIP</value>
                    <value>KIE</value>
                    <value>HSR</value>
                    <value>HMD</value>
                    <value>NOTNLM</value>
                </choice>
            </attribute>
        </optional>
        <attribute name="Status">
            <choice>
                <value>Completed</value>
                <value>In-Process</value>
                <value>PubMed-not-MEDLINE</value>
                <value>In-Data-Review</value>
                <value>Publisher</value>
                <value>MEDLINE</value>
                <value>OLDMEDLINE</value>
            </choice>
        </attribute>
        <optional>
            <attribute name="VersionID"/>
        </optional>
        <optional>
            <attribute name="VersionDate"/>
        </optional>
        <optional>
            <attribute name="IndexingMethod"/>
        </optional>
    </define>
    <define name="PubmedData">
        <element name="PubmedData">
            <ref name="attlist.PubmedData"/>
            <optional>
                <ref name="History"/>
            </optional>
            <ref name="PublicationStatus"/>
            <ref name="ArticleIdList"/>
            <optional>
                <ref name="ObjectList"/>
            </optional>
            <zeroOrMore>
                <ref name="ReferenceList"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.PubmedData" combine="interleave">
        <empty/>
    </define>
    <define name="PubmedBookData">
        <element name="PubmedBookData">
            <ref name="attlist.PubmedBookData"/>
            <optional>
                <ref name="History"/>
            </optional>
            <ref name="PublicationStatus"/>
            <ref name="ArticleIdList"/>
            <optional>
                <ref name="ObjectList"/>
            </optional>
        </element>
    </define>
    <define name="attlist.PubmedBookData" combine="interleave">
        <empty/>
    </define>
    <define name="Article">
        <element name="Article">
            <ref name="attlist.Article"/>
            <ref name="Journal"/>
            <ref name="ArticleTitle"/>
            <choice>
                <group>
                    <ref name="Pagination"/>
                    <zeroOrMore>
                        <ref name="ELocationID"/>
                    </zeroOrMore>
                </group>
                <oneOrMore>
                    <ref name="ELocationID"/>
                </oneOrMore>
            </choice>
            <optional>
                <ref name="Abstract"/>
            </optional>
            <optional>
                <ref name="AuthorList"/>
            </optional>
            <oneOrMore>
                <ref name="Language"/>
            </oneOrMore>
            <optional>
                <ref name="DataBankList"/>
            </optional>
            <optional>
                <ref name="GrantList"/>
            </optional>
            <ref name="PublicationTypeList"/>
            <optional>
                <ref name="VernacularTitle"/>
            </optional>
            <zeroOrMore>
                <ref name="ArticleDate"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Article" combine="interleave">
        <attribute name="PubModel">
            <choice>
                <value>Print</value>
                <value>Print-Electronic</value>
                <value>Electronic</value>
                <value>Electronic-Print</value>
                <value>Electronic-eCollection</value>
            </choice>
        </attribute>
    </define>
    <!-- ================================================================= -->
    <!-- Everything else in alphabetical order -->
    <!-- ================================================================= -->
    <define name="Abstract">
        <element name="Abstract">
            <ref name="attlist.Abstract"/>
            <oneOrMore>
                <ref name="AbstractText"/>
            </oneOrMore>
            <optional>
                <ref name="CopyrightInformation"/>
            </optional>
        </element>
    </define>
    <define name="attlist.Abstract" combine="interleave">
        <empty/>
    </define>
    <define name="AbstractText">
        <element name="AbstractText">
            <ref name="attlist.AbstractText"/>
            <zeroOrMore>
                <choice>
                    <ref name="text"/>
                    <ref name="math"/>
                    <ref name="DispFormula"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.AbstractText" combine="interleave">
        <optional>
            <attribute name="Label"/>
        </optional>
        <optional>
            <attribute name="NlmCategory">
                <choice>
                    <value>BACKGROUND</value>
                    <value>OBJECTIVE</value>
                    <value>METHODS</value>
                    <value>RESULTS</value>
                    <value>CONCLUSIONS</value>
                    <value>UNASSIGNED</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="AccessionNumber">
        <element name="AccessionNumber">
            <ref name="attlist.AccessionNumber"/>
            <text/>
        </element>
    </define>
    <define name="attlist.AccessionNumber" combine="interleave">
        <empty/>
    </define>
    <define name="AccessionNumberList">
        <element name="AccessionNumberList">
            <ref name="attlist.AccessionNumberList"/>
            <oneOrMore>
                <ref name="AccessionNumber"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.AccessionNumberList" combine="interleave">
        <empty/>
    </define>
    <define name="Acronym">
        <element name="Acronym">
            <ref name="attlist.Acronym"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Acronym" combine="interleave">
        <empty/>
    </define>
    <define name="Affiliation">
        <element name="Affiliation">
            <ref name="attlist.Affiliation"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Affiliation" combine="interleave">
        <empty/>
    </define>
    <define name="AffiliationInfo">
        <element name="AffiliationInfo">
            <ref name="attlist.AffiliationInfo"/>
            <ref name="Affiliation"/>
            <zeroOrMore>
                <ref name="Identifier"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.AffiliationInfo" combine="interleave">
        <empty/>
    </define>
    <define name="Agency">
        <element name="Agency">
            <ref name="attlist.Agency"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Agency" combine="interleave">
        <empty/>
    </define>
    <define name="ArticleDate">
        <element name="ArticleDate">
            <ref name="attlist.ArticleDate"/>
            <ref name="Year"/>
            <ref name="Month"/>
            <ref name="Day"/>
        </element>
    </define>
    <define name="attlist.ArticleDate" combine="interleave">
        <optional>
            <attribute name="DateType" a:defaultValue="Electronic">
                <value type="string">Electronic</value>
            </attribute>
        </optional>
    </define>
    <define name="ArticleId">
        <element name="ArticleId">
            <ref name="attlist.ArticleId"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ArticleId" combine="interleave">
        <optional>
            <attribute name="IdType" a:defaultValue="pubmed">
                <choice>
                    <value>doi</value>
                    <value>pii</value>
                    <value>pmcpid</value>
                    <value>pmpid</value>
                    <value>pmc</value>
                    <value>mid</value>
                    <value>sici</value>
                    <value>pubmed</value>
                    <value>medline</value>
                    <value>pmcid</value>
                    <value>pmcbook</value>
                    <value>bookaccession</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="ArticleIdList">
        <element name="ArticleIdList">
            <ref name="attlist.ArticleIdList"/>
            <oneOrMore>
                <ref name="ArticleId"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.ArticleIdList" combine="interleave">
        <empty/>
    </define>
    <define name="ArticleTitle">
        <element name="ArticleTitle">
            <ref name="attlist.ArticleTitle"/>
            <zeroOrMore>
                <choice>
                    <ref name="text"/>
                    <ref name="math"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.ArticleTitle" combine="interleave">
        <ref name="booklinkatts"/>
    </define>
    <define name="Author">
        <element name="Author">
            <ref name="attlist.Author"/>
            <choice>
                <group>
                    <ref name="LastName"/>
                    <optional>
                        <ref name="ForeName"/>
                    </optional>
                    <optional>
                        <ref name="Initials"/>
                    </optional>
                    <optional>
                        <ref name="Suffix"/>
                    </optional>
                </group>
                <ref name="CollectiveName"/>
            </choice>
            <zeroOrMore>
                <ref name="Identifier"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="AffiliationInfo"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Author" combine="interleave">
        <optional>
            <attribute name="ValidYN" a:defaultValue="Y">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="EqualContrib">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="AuthorList">
        <element name="AuthorList">
            <ref name="attlist.AuthorList"/>
            <oneOrMore>
                <ref name="Author"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.AuthorList" combine="interleave">
        <optional>
            <attribute name="CompleteYN" a:defaultValue="Y">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="Type">
                <choice>
                    <value>authors</value>
                    <value>editors</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="b">
        <element name="b">
            <ref name="attlist.b"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.b" combine="interleave">
        <empty/>
    </define>
    <!-- bold -->
    <define name="BeginningDate">
        <element name="BeginningDate">
            <ref name="attlist.BeginningDate"/>
            <ref name="Year"/>
            <optional>
                <choice>
                    <group>
                        <ref name="Month"/>
                        <optional>
                            <ref name="Day"/>
                        </optional>
                    </group>
                    <ref name="Season"/>
                </choice>
            </optional>
        </element>
    </define>
    <define name="attlist.BeginningDate" combine="interleave">
        <empty/>
    </define>
    <define name="Book">
        <element name="Book">
            <ref name="attlist.Book"/>
            <ref name="Publisher"/>
            <ref name="BookTitle"/>
            <ref name="PubDate"/>
            <optional>
                <ref name="BeginningDate"/>
            </optional>
            <optional>
                <ref name="EndingDate"/>
            </optional>
            <zeroOrMore>
                <ref name="AuthorList"/>
            </zeroOrMore>
            <optional>
                <ref name="InvestigatorList"/>
            </optional>
            <optional>
                <ref name="Volume"/>
            </optional>
            <optional>
                <ref name="VolumeTitle"/>
            </optional>
            <optional>
                <ref name="Edition"/>
            </optional>
            <optional>
                <ref name="CollectionTitle"/>
            </optional>
            <zeroOrMore>
                <ref name="Isbn"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="ELocationID"/>
            </zeroOrMore>
            <optional>
                <ref name="Medium"/>
            </optional>
            <optional>
                <ref name="ReportNumber"/>
            </optional>
        </element>
    </define>
    <define name="attlist.Book" combine="interleave">
        <empty/>
    </define>
    <define name="BookTitle">
        <element name="BookTitle">
            <ref name="attlist.BookTitle"/>
            <zeroOrMore>
                <choice>
                    <ref name="text"/>
                    <ref name="math"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.BookTitle" combine="interleave">
        <ref name="booklinkatts"/>
    </define>
    <define name="Chemical">
        <element name="Chemical">
            <ref name="attlist.Chemical"/>
            <ref name="RegistryNumber"/>
            <ref name="NameOfSubstance"/>
        </element>
    </define>
    <define name="attlist.Chemical" combine="interleave">
        <empty/>
    </define>
    <define name="ChemicalList">
        <element name="ChemicalList">
            <ref name="attlist.ChemicalList"/>
            <oneOrMore>
                <ref name="Chemical"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.ChemicalList" combine="interleave">
        <empty/>
    </define>
    <define name="Citation">
        <element name="Citation">
            <ref name="attlist.Citation"/>
            <zeroOrMore>
                <choice>
                    <ref name="text"/>
                    <ref name="math"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Citation" combine="interleave">
        <empty/>
    </define>
    <define name="CitationSubset">
        <element name="CitationSubset">
            <ref name="attlist.CitationSubset"/>
            <text/>
        </element>
    </define>
    <define name="attlist.CitationSubset" combine="interleave">
        <empty/>
    </define>
    <define name="CoiStatement">
        <element name="CoiStatement">
            <ref name="attlist.CoiStatement"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.CoiStatement" combine="interleave">
        <empty/>
    </define>
    <define name="CollectionTitle">
        <element name="CollectionTitle">
            <ref name="attlist.CollectionTitle"/>
            <zeroOrMore>
                <choice>
                    <ref name="text"/>
                    <ref name="math"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.CollectionTitle" combine="interleave">
        <ref name="booklinkatts"/>
    </define>
    <define name="CollectiveName">
        <element name="CollectiveName">
            <ref name="attlist.CollectiveName"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.CollectiveName" combine="interleave">
        <empty/>
    </define>
    <define name="CommentsCorrections">
        <element name="CommentsCorrections">
            <ref name="attlist.CommentsCorrections"/>
            <ref name="RefSource"/>
            <optional>
                <ref name="PMID"/>
            </optional>
            <optional>
                <ref name="Note"/>
            </optional>
        </element>
    </define>
    <define name="attlist.CommentsCorrections" combine="interleave">
        <attribute name="RefType">
            <choice>
                <value>AssociatedDataset</value>
                <value>AssociatedPublication</value>
                <value>CommentIn</value>
                <value>CommentOn</value>
                <value>CorrectedandRepublishedIn</value>
                <value>CorrectedandRepublishedFrom</value>
                <value>ErratumIn</value>
                <value>ErratumFor</value>
                <value>ExpressionOfConcernIn</value>
                <value>ExpressionOfConcernFor</value>
                <value>RepublishedIn</value>
                <value>RepublishedFrom</value>
                <value>RetractedandRepublishedIn</value>
                <value>RetractedandRepublishedFrom</value>
                <value>RetractionIn</value>
                <value>RetractionOf</value>
                <value>UpdateIn</value>
                <value>UpdateOf</value>
                <value>SummaryForPatientsIn</value>
                <value>OriginalReportIn</value>
                <value>ReprintIn</value>
                <value>ReprintOf</value>
                <value>Cites</value>
            </choice>
        </attribute>
    </define>
    <define name="CommentsCorrectionsList">
        <element name="CommentsCorrectionsList">
            <ref name="attlist.CommentsCorrectionsList"/>
            <oneOrMore>
                <ref name="CommentsCorrections"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.CommentsCorrectionsList" combine="interleave">
        <empty/>
    </define>
    <define name="ContractNumber">
        <element name="ContractNumber">
            <ref name="attlist.ContractNumber"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ContractNumber" combine="interleave">
        <empty/>
    </define>
    <define name="ContributionDate">
        <element name="ContributionDate">
            <ref name="attlist.ContributionDate"/>
            <ref name="Year"/>
            <optional>
                <choice>
                    <group>
                        <ref name="Month"/>
                        <optional>
                            <ref name="Day"/>
                        </optional>
                    </group>
                    <ref name="Season"/>
                </choice>
            </optional>
        </element>
    </define>
    <define name="attlist.ContributionDate" combine="interleave">
        <empty/>
    </define>
    <define name="CopyrightInformation">
        <element name="CopyrightInformation">
            <ref name="attlist.CopyrightInformation"/>
            <text/>
        </element>
    </define>
    <define name="attlist.CopyrightInformation" combine="interleave">
        <empty/>
    </define>
    <define name="Country">
        <element name="Country">
            <ref name="attlist.Country"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Country" combine="interleave">
        <empty/>
    </define>
    <define name="DataBank">
        <element name="DataBank">
            <ref name="attlist.DataBank"/>
            <ref name="DataBankName"/>
            <optional>
                <ref name="AccessionNumberList"/>
            </optional>
        </element>
    </define>
    <define name="attlist.DataBank" combine="interleave">
        <empty/>
    </define>
    <define name="DataBankList">
        <element name="DataBankList">
            <ref name="attlist.DataBankList"/>
            <oneOrMore>
                <ref name="DataBank"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.DataBankList" combine="interleave">
        <optional>
            <attribute name="CompleteYN" a:defaultValue="Y">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="DataBankName">
        <element name="DataBankName">
            <ref name="attlist.DataBankName"/>
            <text/>
        </element>
    </define>
    <define name="attlist.DataBankName" combine="interleave">
        <empty/>
    </define>
    <define name="DateCompleted">
        <element name="DateCompleted">
            <ref name="attlist.DateCompleted"/>
            <ref name="Year"/>
            <ref name="Month"/>
            <ref name="Day"/>
        </element>
    </define>
    <define name="attlist.DateCompleted" combine="interleave">
        <empty/>
    </define>
    <define name="DateRevised">
        <element name="DateRevised">
            <ref name="attlist.DateRevised"/>
            <ref name="Year"/>
            <ref name="Month"/>
            <ref name="Day"/>
        </element>
    </define>
    <define name="attlist.DateRevised" combine="interleave">
        <empty/>
    </define>
    <define name="Day">
        <element name="Day">
            <ref name="attlist.Day"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Day" combine="interleave">
        <empty/>
    </define>
    <define name="DescriptorName">
        <element name="DescriptorName">
            <ref name="attlist.DescriptorName"/>
            <text/>
        </element>
    </define>
    <define name="attlist.DescriptorName" combine="interleave">
        <optional>
            <attribute name="MajorTopicYN" a:defaultValue="N">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="Type">
                <choice>
                    <value>Geographic</value>
                </choice>
            </attribute>
        </optional>
        <attribute name="UI"/>
    </define>
    <define name="DispFormula">
        <element name="DispFormula">
            <ref name="attlist.DispFormula"/>
            <ref name="math"/>
        </element>
    </define>
    <define name="attlist.DispFormula" combine="interleave">
        <empty/>
    </define>
    <define name="Edition">
        <element name="Edition">
            <ref name="attlist.Edition"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Edition" combine="interleave">
        <empty/>
    </define>
    <define name="ELocationID">
        <element name="ELocationID">
            <ref name="attlist.ELocationID"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ELocationID" combine="interleave">
        <attribute name="EIdType">
            <choice>
                <value>doi</value>
                <value>pii</value>
            </choice>
        </attribute>
        <optional>
            <attribute name="ValidYN" a:defaultValue="Y">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="EndingDate">
        <element name="EndingDate">
            <ref name="attlist.EndingDate"/>
            <ref name="Year"/>
            <optional>
                <choice>
                    <group>
                        <ref name="Month"/>
                        <optional>
                            <ref name="Day"/>
                        </optional>
                    </group>
                    <ref name="Season"/>
                </choice>
            </optional>
        </element>
    </define>
    <define name="attlist.EndingDate" combine="interleave">
        <empty/>
    </define>
    <define name="EndPage">
        <element name="EndPage">
            <ref name="attlist.EndPage"/>
            <text/>
        </element>
    </define>
    <define name="attlist.EndPage" combine="interleave">
        <empty/>
    </define>
    <define name="ForeName">
        <element name="ForeName">
            <ref name="attlist.ForeName"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ForeName" combine="interleave">
        <empty/>
    </define>
    <define name="GeneSymbol">
        <element name="GeneSymbol">
            <ref name="attlist.GeneSymbol"/>
            <text/>
        </element>
    </define>
    <define name="attlist.GeneSymbol" combine="interleave">
        <empty/>
    </define>
    <define name="GeneSymbolList">
        <element name="GeneSymbolList">
            <ref name="attlist.GeneSymbolList"/>
            <oneOrMore>
                <ref name="GeneSymbol"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.GeneSymbolList" combine="interleave">
        <empty/>
    </define>
    <define name="GeneralNote">
        <element name="GeneralNote">
            <ref name="attlist.GeneralNote"/>
            <text/>
        </element>
    </define>
    <define name="attlist.GeneralNote" combine="interleave">
        <optional>
            <attribute name="Owner" a:defaultValue="NLM">
                <choice>
                    <value>NLM</value>
                    <value>NASA</value>
                    <value>PIP</value>
                    <value>KIE</value>
                    <value>HSR</value>
                    <value>HMD</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="Grant">
        <element name="Grant">
            <ref name="attlist.Grant"/>
            <optional>
                <ref name="GrantID"/>
            </optional>
            <optional>
                <ref name="Acronym"/>
            </optional>
            <ref name="Agency"/>
            <ref name="Country"/>
        </element>
    </define>
    <define name="attlist.Grant" combine="interleave">
        <empty/>
    </define>
    <define name="GrantID">
        <element name="GrantID">
            <ref name="attlist.GrantID"/>
            <text/>
        </element>
    </define>
    <define name="attlist.GrantID" combine="interleave">
        <empty/>
    </define>
    <define name="GrantList">
        <element name="GrantList">
            <ref name="attlist.GrantList"/>
            <oneOrMore>
                <ref name="Grant"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.GrantList" combine="interleave">
        <optional>
            <attribute name="CompleteYN" a:defaultValue="Y">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="History">
        <element name="History">
            <ref name="attlist.History"/>
            <oneOrMore>
                <ref name="PubMedPubDate"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.History" combine="interleave">
        <empty/>
    </define>
    <define name="Hour">
        <element name="Hour">
            <ref name="attlist.Hour"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Hour" combine="interleave">
        <empty/>
    </define>
    <define name="i">
        <element name="i">
            <ref name="attlist.i"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.i" combine="interleave">
        <empty/>
    </define>
    <!-- italic -->
    <define name="Identifier">
        <element name="Identifier">
            <ref name="attlist.Identifier"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Identifier" combine="interleave">
        <attribute name="Source"/>
    </define>
    <define name="Initials">
        <element name="Initials">
            <ref name="attlist.Initials"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Initials" combine="interleave">
        <empty/>
    </define>
    <define name="Investigator">
        <element name="Investigator">
            <ref name="attlist.Investigator"/>
            <ref name="LastName"/>
            <optional>
                <ref name="ForeName"/>
            </optional>
            <optional>
                <ref name="Initials"/>
            </optional>
            <optional>
                <ref name="Suffix"/>
            </optional>
            <zeroOrMore>
                <ref name="Identifier"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="AffiliationInfo"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Investigator" combine="interleave">
        <optional>
            <attribute name="ValidYN" a:defaultValue="Y">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="InvestigatorList">
        <element name="InvestigatorList">
            <ref name="attlist.InvestigatorList"/>
            <oneOrMore>
                <ref name="Investigator"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.InvestigatorList" combine="interleave">
        <empty/>
    </define>
    <define name="Isbn">
        <element name="Isbn">
            <ref name="attlist.Isbn"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Isbn" combine="interleave">
        <empty/>
    </define>
    <define name="ISOAbbreviation">
        <element name="ISOAbbreviation">
            <ref name="attlist.ISOAbbreviation"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ISOAbbreviation" combine="interleave">
        <empty/>
    </define>
    <define name="ISSN">
        <element name="ISSN">
            <ref name="attlist.ISSN"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ISSN" combine="interleave">
        <attribute name="IssnType">
            <choice>
                <value>Electronic</value>
                <value>Print</value>
            </choice>
        </attribute>
    </define>
    <define name="ISSNLinking">
        <element name="ISSNLinking">
            <ref name="attlist.ISSNLinking"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ISSNLinking" combine="interleave">
        <empty/>
    </define>
    <define name="Issue">
        <element name="Issue">
            <ref name="attlist.Issue"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Issue" combine="interleave">
        <empty/>
    </define>
    <define name="Item">
        <element name="Item">
            <ref name="attlist.Item"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Item" combine="interleave">
        <empty/>
    </define>
    <define name="ItemList">
        <element name="ItemList">
            <ref name="attlist.ItemList"/>
            <oneOrMore>
                <ref name="Item"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.ItemList" combine="interleave">
        <attribute name="ListType"/>
    </define>
    <define name="Journal">
        <element name="Journal">
            <ref name="attlist.Journal"/>
            <optional>
                <ref name="ISSN"/>
            </optional>
            <ref name="JournalIssue"/>
            <optional>
                <ref name="Title"/>
            </optional>
            <optional>
                <ref name="ISOAbbreviation"/>
            </optional>
        </element>
    </define>
    <define name="attlist.Journal" combine="interleave">
        <empty/>
    </define>
    <define name="JournalIssue">
        <element name="JournalIssue">
            <ref name="attlist.JournalIssue"/>
            <optional>
                <ref name="Volume"/>
            </optional>
            <optional>
                <ref name="Issue"/>
            </optional>
            <ref name="PubDate"/>
        </element>
    </define>
    <define name="attlist.JournalIssue" combine="interleave">
        <attribute name="CitedMedium">
            <choice>
                <value>Internet</value>
                <value>Print</value>
            </choice>
        </attribute>
    </define>
    <define name="Keyword">
        <element name="Keyword">
            <ref name="attlist.Keyword"/>
            <zeroOrMore>
                <choice>
                    <ref name="text"/>
                    <ref name="math"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Keyword" combine="interleave">
        <optional>
            <attribute name="MajorTopicYN" a:defaultValue="N">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="KeywordList">
        <element name="KeywordList">
            <ref name="attlist.KeywordList"/>
            <oneOrMore>
                <ref name="Keyword"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.KeywordList" combine="interleave">
        <optional>
            <attribute name="Owner" a:defaultValue="NLM">
                <choice>
                    <value>NLM</value>
                    <value>NLM-AUTO</value>
                    <value>NASA</value>
                    <value>PIP</value>
                    <value>KIE</value>
                    <value>NOTNLM</value>
                    <value>HHS</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="Language">
        <element name="Language">
            <ref name="attlist.Language"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Language" combine="interleave">
        <empty/>
    </define>
    <define name="LastName">
        <element name="LastName">
            <ref name="attlist.LastName"/>
            <text/>
        </element>
    </define>
    <define name="attlist.LastName" combine="interleave">
        <empty/>
    </define>
    <define name="LocationLabel">
        <element name="LocationLabel">
            <ref name="attlist.LocationLabel"/>
            <text/>
        </element>
    </define>
    <define name="attlist.LocationLabel" combine="interleave">
        <optional>
            <attribute name="Type">
                <choice>
                    <value>part</value>
                    <value>chapter</value>
                    <value>section</value>
                    <value>appendix</value>
                    <value>figure</value>
                    <value>table</value>
                    <value>box</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="Medium">
        <element name="Medium">
            <ref name="attlist.Medium"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Medium" combine="interleave">
        <empty/>
    </define>
    <define name="MedlineDate">
        <element name="MedlineDate">
            <ref name="attlist.MedlineDate"/>
            <text/>
        </element>
    </define>
    <define name="attlist.MedlineDate" combine="interleave">
        <empty/>
    </define>
    <define name="MedlineJournalInfo">
        <element name="MedlineJournalInfo">
            <ref name="attlist.MedlineJournalInfo"/>
            <optional>
                <ref name="Country"/>
            </optional>
            <ref name="MedlineTA"/>
            <optional>
                <ref name="NlmUniqueID"/>
            </optional>
            <optional>
                <ref name="ISSNLinking"/>
            </optional>
        </element>
    </define>
    <define name="attlist.MedlineJournalInfo" combine="interleave">
        <empty/>
    </define>
    <define name="MedlinePgn">
        <element name="MedlinePgn">
            <ref name="attlist.MedlinePgn"/>
            <text/>
        </element>
    </define>
    <define name="attlist.MedlinePgn" combine="interleave">
        <empty/>
    </define>
    <define name="MedlineTA">
        <element name="MedlineTA">
            <ref name="attlist.MedlineTA"/>
            <text/>
        </element>
    </define>
    <define name="attlist.MedlineTA" combine="interleave">
        <empty/>
    </define>
    <define name="MeshHeading">
        <element name="MeshHeading">
            <ref name="attlist.MeshHeading"/>
            <ref name="DescriptorName"/>
            <zeroOrMore>
                <ref name="QualifierName"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.MeshHeading" combine="interleave">
        <empty/>
    </define>
    <define name="MeshHeadingList">
        <element name="MeshHeadingList">
            <ref name="attlist.MeshHeadingList"/>
            <oneOrMore>
                <ref name="MeshHeading"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.MeshHeadingList" combine="interleave">
        <empty/>
    </define>
    <define name="Minute">
        <element name="Minute">
            <ref name="attlist.Minute"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Minute" combine="interleave">
        <empty/>
    </define>
    <define name="Month">
        <element name="Month">
            <ref name="attlist.Month"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Month" combine="interleave">
        <empty/>
    </define>
    <define name="NameOfSubstance">
        <element name="NameOfSubstance">
            <ref name="attlist.NameOfSubstance"/>
            <text/>
        </element>
    </define>
    <define name="attlist.NameOfSubstance" combine="interleave">
        <attribute name="UI"/>
    </define>
    <define name="NlmUniqueID">
        <element name="NlmUniqueID">
            <ref name="attlist.NlmUniqueID"/>
            <text/>
        </element>
    </define>
    <define name="attlist.NlmUniqueID" combine="interleave">
        <empty/>
    </define>
    <define name="Note">
        <element name="Note">
            <ref name="attlist.Note"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Note" combine="interleave">
        <empty/>
    </define>
    <define name="NumberOfReferences">
        <element name="NumberOfReferences">
            <ref name="attlist.NumberOfReferences"/>
            <text/>
        </element>
    </define>
    <define name="attlist.NumberOfReferences" combine="interleave">
        <empty/>
    </define>
    <define name="Object">
        <element name="Object">
            <ref name="attlist.Object"/>
            <zeroOrMore>
                <ref name="Param"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Object" combine="interleave">
        <attribute name="Type"/>
    </define>
    <define name="ObjectList">
        <element name="ObjectList">
            <ref name="attlist.ObjectList"/>
            <oneOrMore>
                <ref name="Object"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.ObjectList" combine="interleave">
        <empty/>
    </define>
    <define name="OtherAbstract">
        <element name="OtherAbstract">
            <ref name="attlist.OtherAbstract"/>
            <oneOrMore>
                <ref name="AbstractText"/>
            </oneOrMore>
            <optional>
                <ref name="CopyrightInformation"/>
            </optional>
        </element>
    </define>
    <define name="attlist.OtherAbstract" combine="interleave">
        <attribute name="Type">
            <choice>
                <value>AAMC</value>
                <value>AIDS</value>
                <value>KIE</value>
                <value>PIP</value>
                <value>NASA</value>
                <value>Publisher</value>
                <value>plain-language-summary</value>
            </choice>
        </attribute>
        <optional>
            <attribute name="Language" a:defaultValue="eng"/>
        </optional>
    </define>
    <define name="OtherID">
        <element name="OtherID">
            <ref name="attlist.OtherID"/>
            <text/>
        </element>
    </define>
    <define name="attlist.OtherID" combine="interleave">
        <attribute name="Source">
            <choice>
                <value>NASA</value>
                <value>KIE</value>
                <value>PIP</value>
                <value>POP</value>
                <value>ARPL</value>
                <value>CPC</value>
                <value>IND</value>
                <value>CPFH</value>
                <value>CLML</value>
                <value>NRCBL</value>
                <value>NLM</value>
                <value>QCIM</value>
            </choice>
        </attribute>
    </define>
    <define name="PMID">
        <element name="PMID">
            <ref name="attlist.PMID"/>
            <text/>
        </element>
    </define>
    <define name="attlist.PMID" combine="interleave">
        <attribute name="Version"/>
    </define>
    <define name="Pagination">
        <element name="Pagination">
            <ref name="attlist.Pagination"/>
            <choice>
                <group>
                    <ref name="StartPage"/>
                    <optional>
                        <ref name="EndPage"/>
                    </optional>
                    <optional>
                        <ref name="MedlinePgn"/>
                    </optional>
                </group>
                <ref name="MedlinePgn"/>
            </choice>
        </element>
    </define>
    <define name="attlist.Pagination" combine="interleave">
        <empty/>
    </define>
    <define name="Param">
        <element name="Param">
            <ref name="attlist.Param"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Param" combine="interleave">
        <attribute name="Name"/>
    </define>
    <define name="PersonalNameSubject">
        <element name="PersonalNameSubject">
            <ref name="attlist.PersonalNameSubject"/>
            <ref name="LastName"/>
            <optional>
                <ref name="ForeName"/>
            </optional>
            <optional>
                <ref name="Initials"/>
            </optional>
            <optional>
                <ref name="Suffix"/>
            </optional>
        </element>
    </define>
    <define name="attlist.PersonalNameSubject" combine="interleave">
        <empty/>
    </define>
    <define name="PersonalNameSubjectList">
        <element name="PersonalNameSubjectList">
            <ref name="attlist.PersonalNameSubjectList"/>
            <oneOrMore>
                <ref name="PersonalNameSubject"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.PersonalNameSubjectList" combine="interleave">
        <empty/>
    </define>
    <define name="PubDate">
        <element name="PubDate">
            <ref name="attlist.PubDate"/>
            <choice>
                <group>
                    <ref name="Year"/>
                    <optional>
                        <choice>
                            <group>
                                <ref name="Month"/>
                                <optional>
                                    <ref name="Day"/>
                                </optional>
                            </group>
                            <ref name="Season"/>
                        </choice>
                    </optional>
                </group>
                <ref name="MedlineDate"/>
            </choice>
        </element>
    </define>
    <define name="attlist.PubDate" combine="interleave">
        <empty/>
    </define>
    <define name="PublicationStatus">
        <element name="PublicationStatus">
            <ref name="attlist.PublicationStatus"/>
            <text/>
        </element>
    </define>
    <define name="attlist.PublicationStatus" combine="interleave">
        <empty/>
    </define>
    <define name="PublicationType">
        <element name="PublicationType">
            <ref name="attlist.PublicationType"/>
            <text/>
        </element>
    </define>
    <define name="attlist.PublicationType" combine="interleave">
        <attribute name="UI"/>
    </define>
    <define name="PublicationTypeList">
        <element name="PublicationTypeList">
            <ref name="attlist.PublicationTypeList"/>
            <oneOrMore>
                <ref name="PublicationType"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.PublicationTypeList" combine="interleave">
        <empty/>
    </define>
    <define name="PubMedPubDate">
        <element name="PubMedPubDate">
            <ref name="attlist.PubMedPubDate"/>
            <ref name="Year"/>
            <ref name="Month"/>
            <ref name="Day"/>
            <optional>
                <ref name="Hour"/>
                <optional>
                    <ref name="Minute"/>
                    <optional>
                        <ref name="Second"/>
                    </optional>
                </optional>
            </optional>
        </element>
    </define>
    <define name="attlist.PubMedPubDate" combine="interleave">
        <attribute name="PubStatus">
            <choice>
                <value>received</value>
                <value>accepted</value>
                <value>epublish</value>
                <value>ppublish</value>
                <value>revised</value>
                <value>aheadofprint</value>
                <value>retracted</value>
                <value>ecollection</value>
                <value>pmc</value>
                <value>pmcr</value>
                <value>pubmed</value>
                <value>pubmedr</value>
                <value>premedline</value>
                <value>medline</value>
                <value>medliner</value>
                <value>entrez</value>
                <value>pmc-release</value>
            </choice>
        </attribute>
    </define>
    <define name="Publisher">
        <element name="Publisher">
            <ref name="attlist.Publisher"/>
            <ref name="PublisherName"/>
            <optional>
                <ref name="PublisherLocation"/>
            </optional>
        </element>
    </define>
    <define name="attlist.Publisher" combine="interleave">
        <empty/>
    </define>
    <define name="PublisherLocation">
        <element name="PublisherLocation">
            <ref name="attlist.PublisherLocation"/>
            <text/>
        </element>
    </define>
    <define name="attlist.PublisherLocation" combine="interleave">
        <empty/>
    </define>
    <define name="PublisherName">
        <element name="PublisherName">
            <ref name="attlist.PublisherName"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.PublisherName" combine="interleave">
        <empty/>
    </define>
    <define name="QualifierName">
        <element name="QualifierName">
            <ref name="attlist.QualifierName"/>
            <text/>
        </element>
    </define>
    <define name="attlist.QualifierName" combine="interleave">
        <optional>
            <attribute name="MajorTopicYN" a:defaultValue="N">
                <choice>
                    <value>Y</value>
                    <value>N</value>
                </choice>
            </attribute>
        </optional>
        <attribute name="UI"/>
    </define>
    <define name="Reference">
        <element name="Reference">
            <ref name="attlist.Reference"/>
            <ref name="Citation"/>
            <optional>
                <ref name="ArticleIdList"/>
            </optional>
        </element>
    </define>
    <define name="attlist.Reference" combine="interleave">
        <empty/>
    </define>
    <define name="ReferenceList">
        <element name="ReferenceList">
            <ref name="attlist.ReferenceList"/>
            <optional>
                <ref name="Title"/>
            </optional>
            <zeroOrMore>
                <ref name="Reference"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="ReferenceList"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.ReferenceList" combine="interleave">
        <empty/>
    </define>
    <define name="RefSource">
        <element name="RefSource">
            <ref name="attlist.RefSource"/>
            <text/>
        </element>
    </define>
    <define name="attlist.RefSource" combine="interleave">
        <empty/>
    </define>
    <define name="RegistryNumber">
        <element name="RegistryNumber">
            <ref name="attlist.RegistryNumber"/>
            <text/>
        </element>
    </define>
    <define name="attlist.RegistryNumber" combine="interleave">
        <empty/>
    </define>
    <define name="ReportNumber">
        <element name="ReportNumber">
            <ref name="attlist.ReportNumber"/>
            <text/>
        </element>
    </define>
    <define name="attlist.ReportNumber" combine="interleave">
        <empty/>
    </define>
    <define name="Season">
        <element name="Season">
            <ref name="attlist.Season"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Season" combine="interleave">
        <empty/>
    </define>
    <define name="Second">
        <element name="Second">
            <ref name="attlist.Second"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Second" combine="interleave">
        <empty/>
    </define>
    <define name="Section">
        <element name="Section">
            <ref name="attlist.Section"/>
            <optional>
                <ref name="LocationLabel"/>
            </optional>
            <ref name="SectionTitle"/>
            <zeroOrMore>
                <ref name="Section"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Section" combine="interleave">
        <empty/>
    </define>
    <define name="Sections">
        <element name="Sections">
            <ref name="attlist.Sections"/>
            <oneOrMore>
                <ref name="Section"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.Sections" combine="interleave">
        <empty/>
    </define>
    <define name="SectionTitle">
        <element name="SectionTitle">
            <ref name="attlist.SectionTitle"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.SectionTitle" combine="interleave">
        <ref name="booklinkatts"/>
    </define>
    <define name="SpaceFlightMission">
        <element name="SpaceFlightMission">
            <ref name="attlist.SpaceFlightMission"/>
            <text/>
        </element>
    </define>
    <define name="attlist.SpaceFlightMission" combine="interleave">
        <empty/>
    </define>
    <define name="StartPage">
        <element name="StartPage">
            <ref name="attlist.StartPage"/>
            <text/>
        </element>
    </define>
    <define name="attlist.StartPage" combine="interleave">
        <empty/>
    </define>
    <define name="sub">
        <element name="sub">
            <ref name="attlist.sub"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.sub" combine="interleave">
        <empty/>
    </define>
    <!-- subscript -->
    <define name="Suffix">
        <element name="Suffix">
            <ref name="attlist.Suffix"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.Suffix" combine="interleave">
        <empty/>
    </define>
    <define name="sup">
        <element name="sup">
            <ref name="attlist.sup"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.sup" combine="interleave">
        <empty/>
    </define>
    <!-- superscript -->
    <define name="SupplMeshList">
        <element name="SupplMeshList">
            <ref name="attlist.SupplMeshList"/>
            <oneOrMore>
                <ref name="SupplMeshName"/>
            </oneOrMore>
        </element>
    </define>
    <define name="attlist.SupplMeshList" combine="interleave">
        <empty/>
    </define>
    <define name="SupplMeshName">
        <element name="SupplMeshName">
            <ref name="attlist.SupplMeshName"/>
            <text/>
        </element>
    </define>
    <define name="attlist.SupplMeshName" combine="interleave">
        <attribute name="Type">
            <choice>
                <value>Disease</value>
                <value>Protocol</value>
                <value>Organism</value>
            </choice>
        </attribute>
        <attribute name="UI"/>
    </define>
    <define name="Title">
        <element name="Title">
            <ref name="attlist.Title"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Title" combine="interleave">
        <empty/>
    </define>
    <define name="u">
        <element name="u">
            <ref name="attlist.u"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.u" combine="interleave">
        <empty/>
    </define>
    <!-- underline -->
    <define name="URL">
        <element name="URL">
            <ref name="attlist.URL"/>
            <text/>
        </element>
    </define>
    <define name="attlist.URL" combine="interleave">
        <optional>
            <attribute name="lang">
                <choice>
                    <value>AF</value>
                    <value>AR</value>
                    <value>AZ</value>
                    <value>BG</value>
                    <value>CS</value>
                    <value>DA</value>
                    <value>DE</value>
                    <value>EN</value>
                    <value>EL</value>
                    <value>ES</value>
                    <value>FA</value>
                    <value>FI</value>
                    <value>FR</value>
                    <value>HE</value>
                    <value>HU</value>
                    <value>HY</value>
                    <value>IN</value>
                    <value>IS</value>
                    <value>IT</value>
                    <value>IW</value>
                    <value>JA</value>
                    <value>KA</value>
                    <value>KO</value>
                    <value>LT</value>
                    <value>MK</value>
                    <value>ML</value>
                    <value>NL</value>
                    <value>NO</value>
                    <value>PL</value>
                    <value>PT</value>
                    <value>PS</value>
                    <value>RO</value>
                    <value>RU</value>
                    <value>SL</value>
                    <value>SK</value>
                    <value>SQ</value>
                    <value>SR</value>
                    <value>SV</value>
                    <value>SW</value>
                    <value>TH</value>
                    <value>TR</value>
                    <value>UK</value>
                    <value>VI</value>
                    <value>ZH</value>
                </choice>
            </attribute>
        </optional>
        <optional>
            <attribute name="Type">
                <choice>
                    <value>FullText</value>
                    <value>Summary</value>
                    <value>fulltext</value>
                    <value>summary</value>
                </choice>
            </attribute>
        </optional>
    </define>
    <define name="VernacularTitle">
        <element name="VernacularTitle">
            <ref name="attlist.VernacularTitle"/>
            <zeroOrMore>
                <choice>
                    <ref name="text"/>
                    <ref name="math"/>
                </choice>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.VernacularTitle" combine="interleave">
        <empty/>
    </define>
    <define name="Volume">
        <element name="Volume">
            <ref name="attlist.Volume"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Volume" combine="interleave">
        <empty/>
    </define>
    <define name="VolumeTitle">
        <element name="VolumeTitle">
            <ref name="attlist.VolumeTitle"/>
            <zeroOrMore>
                <ref name="text"/>
            </zeroOrMore>
        </element>
    </define>
    <define name="attlist.VolumeTitle" combine="interleave">
        <empty/>
    </define>
    <define name="Year">
        <element name="Year">
            <ref name="attlist.Year"/>
            <text/>
        </element>
    </define>
    <define name="attlist.Year" combine="interleave">
        <empty/>
    </define>
    <define name="math" combine="choice">
        <notAllowed/>
    </define>
    <start>
        <choice>
            <ref name="BookDocumentSet"/>
            <ref name="PubmedArticleSet"/>
            <ref name="ContractNumber"/>
            <ref name="PubmedBookArticleSet"/>
            <ref name="URL"/>
        </choice>
    </start>
</grammar>
